
.switch-container {
  position: relative;
  width: 120px;
  height: 50px;
  background: rgb(255, 255, 255);
  transform: skewX(-15deg);
  border: 5px solid rgb(255, 255, 255);
  cursor: pointer;
  overflow: hidden;
  scale: 0.6;
}

.switch-toggle {
  position: absolute;
  width: 50%;
  height: 100%;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  transition: transform 0.3s ease-in-out;
}

.switch-container.active .switch-toggle {
  transform: translateX(100%);
  background: #26d04a;
  color: white;

}